data/
result/
audian/

# Block mp4 everywhere except tests/test_data
*.mp4
!tests/test_data/**/*.mp4


*gui_settings.yaml


# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution
dist/
build/
*.egg-info/



# IDE
.idea/
.vscode/
.claude/
*.swp

# Jupyter
.ipynb_checkpoints/


# OS
.DS_Store
Thumbs.db
